<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile/account/edit"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="change-password-content">
  <div class="change-password-wrapper">
    <form [formGroup]="form" (ngSubmit)="updatePassword()" class="change-password-form">
      <div class="form-group">
        <ion-label>Current Password</ion-label>
        <ion-item lines="none" class="form-input">
          <ion-input
            formControlName="currentPassword"
            type="password"
            placeholder="Current password"
          ></ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-label>New Password</ion-label>
        <ion-item lines="none" class="form-input">
          <ion-input
            formControlName="newPassword"
            type="password"
            placeholder="New Password"
          ></ion-input>
        </ion-item>
      </div>

      <div class="form-group">
        <ion-label>Confirm New Password</ion-label>
        <ion-item lines="none" class="form-input">
          <ion-input
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm New Password"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" class="update-btn">
        Update New Password
      </ion-button>
    </form>
  </div>

  <!-- Bottom nav -->
  <div class="bottom-nav">
    <a routerLink="/home" class="nav-item">
      <ion-icon name="home-outline"></ion-icon>
      <span>Home</span>
    </a>
    <button type="button" class="nav-center-btn" (click)="onCenterAction()" aria-label="Main action">
      <ion-icon name="menu"></ion-icon>
    </button>
    <a routerLink="/profile" class="nav-item nav-active">
      <ion-icon name="person"></ion-icon>
      <span>Profile</span>
    </a>
  </div>
</ion-content>
